{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js"></script>
    <link rel="stylesheet" href="{% static "player/nicPlayer.css" %}">
{% endblock %}
{% block object-tools %}
    {{ block.super }}
    <h2>Stream Key: {{original.user.username}}:{{ original.stream_key }}</h2>
{% endblock %}
{% block after_field_sets %}
    <h1>Stream output</h1>
    <div class="player-wrapper">
        <div id="check-player"></div>
    </div>

    {# player js #}
    <script src="{% static 'player/nicPlayer.js' %}"></script>
    <script>
        init_player("{{ original.user.username }}");
    </script>
{% endblock %}